.d-flex{
    display: flex;
    justify-content: space-between;
    height: 400px;
    margin-bottom: 2rem;

}
.col-md-6{
margin-bottom: 2rem;
height: 100%;

}

img{
    min-width: 200px;
    max-height: 200px;
    padding-left: 1rem;
}
.container h2{
    display: flex;
    margin-bottom: 0;
    align-items: center;
}

p{
    text-align: initial;
}
a{
    text-decoration: none;
    font-family: cursive;
    color: orange;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    margin-top: 2rem;
}
a:hover{
    color: blue;
}

.col-md-6{
    margin-bottom: 2rem;
}
.titulo,
p{
    color: #4D4C7D;
}
@media(max-width: 630px){
    .d-flex{
        height: 100%;
        margin: 1rem;
        flex-direction: column;
    }
    .container h2{
        text-align: center;
        font-size: 25px;
    }
    .a{
        
        text-align: center;
        width:100%;
        margin-top: 2rem;
    }
    .d-flex p {
        max-width: 100%;
        width: 100%;
        display: inline;
        overflow: hidden;
    }
}