footer{
    width: 100%;
    display: flex;
    background-color: #363062;
    color: orange;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: sticky;
    bottom: 0;
}